/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* estilos generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #14242D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 66px;
    font-weight: bold;
}

h2{
    color: #14242D;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: #14242D;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
}

p{
    color: #14242D;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.logo{
    width: 120px;
}

.navbar{
    background-color: #F9F6F6;
    display: flex;
    justify-content: space-between;
}

.lista-nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}

.lista-nav li a{
    text-decoration: none;
    color: #14242D;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

/* PÁGINA INICIO */

/* MAIN */

/* seccion presentacion */
.presentacion{
    background-color: #F1EFE9;
    padding-bottom: 1%;
}

.contenido-principal{
    background-color: #F9F6F6;
    margin: 0 3.5% 2% 3.5%;
    display: flex;
    align-items: center;
}

.contenedor-uno, .contenedor-dos{
    width: 50%;
}

.contenedor-uno{
    text-align: center;
}

.contenedor-uno > h1{
    width: 50%;
    margin: 0 auto;
}

.imagen-contenedor{
    width: 100%;
}

/* seccion promociones */

.promociones{
    background-color: #F9F6F6;
    padding: 3% 0 4% 3%;
}

.paquetes-promocion{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.paquete-item{
    background-color: #F1EFE9;
    width: 300px;
    margin-bottom: 2%;
}

.titulo-promociones{
    margin-bottom: 3%;
}

.texto-paquete{
    padding: 3% 0 4% 3%;
}

.destino{
    font-weight: 500;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
}

.off{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.precio-antiguo{
    text-decoration: line-through;
    color: gray;
    font-family: "Poppins",sans-serif;
}

.precio-actual{
    font-weight: bold;
    font-family: "Poppins",sans-serif;
}

.imagen{
    width: 100%;
    height: 400px;
}

.boton{
    margin: 3% 0;
}

.btn-reservar{
    background-color: #14242D;
    color: #edede9;
    font-family: "Inter", sans-serif;
    padding: 4% 3%;
    border: 1px solid #14242D;
    font-size: 14px;
}

.btn-reservar:hover{
    background-color: #edede9;
    color: #14242D;
    border: 1px solid #14242D;
    text-decoration: underline;
}

/* seccion nosotros*/

.nosotros{
    background-color: #F1EFE9;
    padding-bottom: 5%;
}

.contenedor-nosotros{
    display: flex;
}

.titulo-nosotros{
    font-size: 30px;
    text-align: center;
    margin: 4% 0 2% 0;
}

.parrafo-nosotros{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    color: #14242D;
    font-weight: bold;
    text-align: center;
    margin: 0 11%;
}

/* seccion contacto */

.contacto{
    background-color: #F9F6F6;
    padding: 3%;
}

.titulo-contacto{
    margin-bottom: 4%;
}

.formulario-contacto{
    background-color: #14242D;
    color: #F9F6F6;
    width: 600px;
    margin: 0 auto;
    padding: 3%;
    border-radius: 25px;
    font-family: "Poppins",sans-serif;
    font-size: 24px;
}

.div-error{
    background-color: red;
    text-align: center;
    width: 97%;
    height: 40px;
    color: white;
    font-size: 14px;
    padding: 2%;
    margin: 2% 0;
}

.btn-enviar{
    background-color: #F9F6F6;
    border: 1px solid #F9F6F6;
    color: #14242D;
    padding: 2% 4%;
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 120px;
}

.input{
    width: 500px;
    height: 35px;
    border: 1px solid darkgray;
    border-radius: 5px;
    font-family: "Poppins",sans-serif;
}

.textarea{
    font-family: "Poppins",sans-serif;
}

/* FOOTER */

footer{
    background-color: #F9F6F6;
    padding: 2%;
}

.contenedor-footer{
    display: flex;
    margin-top: 4%;
    flex-wrap: wrap;
}

.info > nav > ul {
    list-style-type: none;
}

.info > nav > ul > li > a {
    text-decoration: none;
    color: #14242D;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.principal{
    flex: 1;
}

.info{
    flex: 1;
    font-weight: bold;
}

.mapa{
    flex: 1;
}

.redes{
    margin-top: 3%;
    display: flex;
    gap: 4%;
}

.titulo-footer{
    margin-top: 2%;
}

hr{
    color: #edede9;
}

.derechos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
}

/* PÁGINA DESTINOS NACIONALES */

.contenedor-destinos{
    background-color: #F1EFE9;
}

.contenedor-paquetes{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.contenedor-paquetes > .item-paquete{
    background-color: #F9F6F6;
    width: 300px;
    margin-bottom: 2%;
}

.titulo-destinos{
    padding: 3% 2% 1% 2%;
}

.subtitulo-destinos{
    padding: 0 2%;
}

/* sección destinos */

.destinos {
    padding: 3% 2%;
}

/* sección destinos al centro del país */

.destinos-centro{
    background-color: #F9F6F6;
}

/* PÁGINA DESTINOS INTERNACIONALES */

.subtitulo-continente{
    margin-bottom: 2%;
}

/* destinos asia y africa */

.destinos-asia, .destinos-africa{
    background-color: #F9F6F6;
}


/* MEDIA QUERIES */

/* para tablets */

@media only screen and (max-width: 1220px){
    /* titulos h1 */
    h1{
        font-size: 50px;
    }

    /* navbar */
    .lista-nav li a{
        font-size: 16px;
    }
    
    /* titulos h2 */
    h2{
        font-size: 40px;
    }

    /* seccion nosotros */
    .parrafo-nosotros{
        font-size: 26px;
    }

    /* seccion contacto */
    .formulario-contacto{
        font-size: 20px;
        width: 550px;
    }

    .input{
        width: 450px;
    }

    .textarea{
        width: 450px;
        height: 150px;
    }

    /* mapa */
    .ubicacion{
        width: 400px;
        height: 250px;
    }
}

@media only screen and (max-width: 920px){
    /* titulos h1 */
    h1{
        font-size: 60px;
    }

    /* navbar */
    .navbar{
        flex-direction: column;
    }

    .lista-nav{
        flex-direction: column;
        align-items: start;
    }

    .lista-nav li a{
        font-size: 20px;
    }

    /* seccion presentacion */
    .presentacion{
        padding: 0;
        background-color: #F9F6F6;
    }

    .contenido-principal{
        flex-direction: column;
        margin: 0;
    }

    .contenedor-uno, .contenedor-dos{
        width: 100%;
    }

    .contenedor-uno{
        margin: 5% 0;
    }

    .contenedor-dos{
        margin: 3% 0;
    }

    /* seccion nosotros */
    .contenedor-nosotros{
        flex-direction: column;
    }

    .contenedor-nosotros > .contenedor-uno, .contenedor-dos{
        margin: 0;
    }

    .contenedor-nosotros > .contenedor-dos{
        overflow: hidden;
        width: 0;
    }

    /* seccion contacto */
    .formulario-contacto{
        width: 500px;
    }

    /* seccion destinos nacionales e internacionales */
    .titulo-destinos{
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .subtitulo-destinos, .subtitulo-continente{
        padding-bottom: 10px;
    }

    h3{
        margin-bottom: 30px;
    }

    .destinos{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* para los celulares */

@media only screen and (max-width: 732px){
    /* navbar */
    .logo{
        width: 100px;
    }

    /* titulos h1 */
    h1{
        font-size: 44px;
    }

    /* titulos h2 */
    h2{
        font-size: 32px;
    }

    /* secciones promociones y contacto */
    .titulo-promociones, .titulo-contacto{
        margin-bottom: 40px;
    }

    /* seccion nosotros */
    .nosotros{
        padding-bottom: 50px;
    }

    .parrafo-nosotros{
        font-size: 22px;
    }

    /* seccion presentacion */
    .contenido-principal > .contenedor-uno{
        margin: 90px 0;
    }

    .contenido-principal > .contenedor-dos{
        margin-bottom: 30px;
    }

    /* footer */
    footer{
        padding: 40px 15px;
    }

    .contenedor-footer{
        margin-top: 50px;
    }

    /* seccion contacto */
    .contacto{
        padding: 50px 20px;
    }

    .formulario-contacto{
        width: 400px;
        font-size: 16px;
        color: #14242D;
        background-color: #F9F6F6;
        border: 1px solid darkgray;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .div-error{
        font-size: 12px;
        height: 30px;
    }


    .btn-enviar{
        background-color: #14242D;
        color: #F9F6F6;
        height: 45px;
    }

    .input{
        width: 350px;
    }

    .textarea{
        width: 350px;
    }
}

@media only screen and (max-width: 420px){
    /* navbar */
    .logo{
        width: 80px;
    }

    /* titulos h1 */
    h1{
        font-size: 32px;
    }

    /* titulos h2 */
    h2{
        font-size: 26px;
    }

    /* titulos h3 */
    h3{
        font-size: 24px;
    }

    /* seccion contacto */
    .formulario-contacto{
        width: 100%;
        margin: 0;
        padding: 6%;
    }

    .input, .textarea{
        width: 100%;
    }

    .btn-enviar{
        height: 40px;
    }

    /* mapa */
    .ubicacion{
        width: 330px;
        margin-top: 5%;
    }

    /* seccion nosotros*/
    .parrafo-nosotros{
        font-size: 18px;
    }

    /* footer */
    .info > p, .info > nav ul li a{
        font-size: 14px;
    }

    .icono{
        width: 24px;
    }
}